<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>

<app-footer></app-footer>
<nav class="col-12 fixed-bottom  justify-content-center align-items-center p-0 m-0   d-lg-none d-md-none">
  <ul class=" container  d-flex justify-content-around my-1 p-0">
    <li class="nav-item ">
      <a   [routerLink]="['/Home/hijos']"><mat-icon> assignment</mat-icon> <br>
        <span class="py-0 fixed-span">Hijos</span>
      </a>
    </li>
    <li class="nav-item ">
      <a [routerLink]="['/Home/persona']" > <mat-icon class="">assignment_ind</mat-icon> <br>
        <span class="py-0 fixed-span">Persona</span>
      </a>
    </li>
  </ul>
</nav>