<nav>
    <div class="container p-1">
        <ul class="row align-items-center  m-0  mx-1 px-0 p-1">
            <li class="col-8 col-sm-4 col-md-3 col-lg-2 col-xl-2 mx-0 px-0 ">
                <a style="font-size:1.2em; text-align: start" class="justify-content-start">
                    <strong class="color-azul">Marcos Ibañez</strong>
                </a>
            </li>
            <li class="col-0 col-sm-0 col-md-2 col-lg-1 col-xl-1 px-0  d-none d-md-block">
                <a [routerLink]="['/Home/hijos']" class="col m-0 p-0  button-pointer button-a">
                    <strong>Hijos </strong>
                </a>
            </li>

            <li class="col-0 col-sm-0 col-md-2 col-lg-1 col-xl-1 px-0  d-none d-md-block">
                <a [routerLink]="['/Home/persona']" class="col m-0 p-0  button-pointer button-a">
                    <strong>Persona </strong>
                </a>
            </li>
        </ul>
    </div>
</nav>